$c-primary: #d4d4d4;
$c-secondary: #777;

body {
    font-size: 100%;
    font-family: helvetica, arial;
  }
  a {text-decoration: none;}

  .links {
      max-width: 900px;
      margin: 0 auto;
      padding: 10px;
  }
   .links a { color: #5e81fe}
  
  .link-list__link {
    color: #333;
    display: block;
    padding: .75em  0 .75em .75em;
    position: relative;
    text-decoration: none;
    
  }
  
  .link-list__link:before {
    border-bottom: solid;
    border-right: solid;
    border-width: .125em;
    bottom: 0;
    content: '';
    height: .75em;
    margin: auto;
    position: absolute;
    right: .825em;
    top: 0;
    transform: rotate(-45deg);
    transition: border-width .2s ease-in-out;
    width: .75em;
    z-index: 2;
    color: $c-primary;
  }
  
  .link-list__link:after {
    background: #fff;
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    transition: background .2s ease-in-out, width .4s ease-in-out;
    width: 0%;
  }
  
  .link-list__link:hover .link-list__link__label,
  .link-list__link:focus .link-list__link__label {
    text-decoration: none;
  }
  
  .link-list__link:hover:before,
  .link-list__link:focus:before {
    border-width: .25em;
  }
  
  .link-list__link:hover:after,
  .link-list__link:focus:after {
    background: #d2e1ff;
    width: 100%;
    border-radius: 5px;
  }
  
   
  
  .link-list__link__meta {
    color: #444;
    font-size: .75em;
    padding-top: .5em;
  }
  
  .link-list__link__label,
  .link-list__link__meta {
    display: block;
    position: relative;
    z-index: 2;
    padding-right: 25px;
  }

  @function rem-calc($size) {
    @return $size / 16px * 1rem;
  }
  
  $nav-text-color: #697CA6;
  $header__logo-size: 26px;
  
  * {
    padding: 0;
    margin: 0;
  }
  
  button { border:none; } 
  
  .header {
    display: flex;
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;
    padding: rem-calc(18px) rem-calc(20px);
    
    &__logo {
      width: rem-calc($header__logo-size);
      height: rem-calc($header__logo-size);
      margin-top: rem-calc(26px-18px);
      background-color: #5E81FE;
      border-radius: 50%;
    }
    
    &__nav {
      margin-top: rem-calc(32px-18px);  
      &--mobile {
        margin-top: rem-calc(10px);
      }
    }
    
    &__nav-list {
      display: flex;
      list-style: none;
    }
    
    &__nav-link {
      font-size: rem-calc(12px);
      margin: 0 1.25rem;
      display: inline-block;
      color: $nav-text-color;
    }
    
    &__button {
      background-color: #D2E1FF;
      font-family: 'Quicksand', sans-serif;
      color: #3A79FF;
      padding: rem-calc(13px);
    }
  }
  
  .main {
    border-top: #D8E3FE solid 1px;
  }
  
  // TODO create break-points
  .header__nav--main, .header__nav--social {
    display: none;
  }
  .header__button{
    display: none;
  }
  
  @media only screen and (min-width: rem-calc(768px)){
    .header__nav--main, .header__button   {
      display: block;
    }
    div.header__nav--mobile, #hamburger {
      display: none;
    }
  }
  
// --- Hamburger - Menu Toggle --- //

#hamburger span,
#cross span {
  z-index: 99;
  display: block;
  background: $c-primary;
  border-radius: 0;
  transition: 0.2s;
  &:hover {
    background: $c-secondary;
  }
}

#menu-toggle {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  top: 0;
  background: transparent;
  border-radius: 0;
  #hamburger {
    position: absolute;
    height: 100%;
    width: 100%;
    span {
      height: 2px;
      position: relative;
      top: 0px;
      left: 0px;
      margin: 8px 0 10px;
      &:nth-child(1) {
        width: 100%;
        transition-delay: 0.625s;
      }
      &:nth-child(2) {
        width: 50%;
        transition-delay: 0.425s;
      }
    }
  }
  #cross {
    z-index: 101;
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(45deg);
    span {
      position: absolute;
      &:nth-child(1) {
        height: 0%;
        width: 2px;
        top: 0;
        left: 14px;
        transition-delay: 0s;
      }
      &:nth-child(2) {
        width: 0%;
        height: 2px;
        left: 0;
        top: 14px;
        transition-delay: 0.15s;
      }
    }
  }
  &.open #hamburger span {
    width: 0%;
    &:nth-child(1) {
      transition-delay: 0s;
    }
    &:nth-child(2) {
      transition-delay: 0.125s;
    }
  }
  &.open #cross span {
    &:nth-child(1) {
      height: 100%;
      transition-delay: 0.625s;
    }
    &:nth-child(2) {
      width: 100%;
      transition-delay: 0.375s;
    }
  }
}

.load-more.center {
  padding: 50px;
  text-align: center;
}
.timeago {   text-decoration: none; margin-right: 5px;}