
$c-primary: rgba(255, 255, 255, 0.7);;
$c-secondary: #777;
$dbg:#191919;
body {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  
  font: 400 16px/1.79 'Roboto', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (750 - 320));
  @media (min-width: 750px) {
    font-size: 20px;
  }
}
a {
  text-decoration: none;
}

/* Dark Mode styles */
body.dark-mode {
  background: #282828;
}
.dark-mode .header, .dark-mode .huhu {background: $dbg; z-index: 9999;}
 .dark-mode .links a { color: #fff}
 
 .dark-mode .timeago { color:  $c-primary}
 .dark-mode .header__nav-link { color: #fff; z-index: 9999;}
 .dark-mode .active { color: #fff}
 .dark-mode .link-list__link .share-box{    background: rgba(46,45,45,.8);
  /* margin-bottom: 10px; */
  border: 1px solid #282828;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
  height: 120px;;}
// .dark-mode .link-list__link:hover:after,
// .dark-mode .link-list__link:focus:after {
//   background: #3A79FF;
   
// }
.dark-mode label {
  color: white;
}
.links {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 50px;
 
 
  
}
.ll:active {background: none;}
.links a {
  color: #000
}
.link-list__link { background: rgb(243, 242, 242); margin-bottom: 10px;}


.link-list__link__label:active  {background: none;}
.links a:active { color: snow; }
.link-list__link, .share-box {
  color: #333;
  display: block;
  padding: .7em;
  position: relative;
  text-decoration: none;
  border-radius: 5px;

}
.share-icons {display: none;     margin: 0 auto;}
// .link-list__link:before {
//   border-bottom: solid;
//   border-right: solid;
//   border-width: .125em;
//   bottom: 0;
//   content: '';
//   height: .75em;
//   margin:  auto  ;
//   position: absolute;
//   right: .825em;
//   top: 0;
//   transform: rotate(-45deg);
//   transition: border-width .2s ease-in-out;
//   width: .75em;
//   z-index: 2;
//   color: $c-primary;
// }
// .link-list__link:after {
 
//   bottom: 0;
//   content: '';
//   height: 100%;
//   left: 0;
//   position: absolute;
//   // transition: background .2s ease-in-out, width .4s ease-in-out;
//   width: 0%;
// }
// .link-list__link:hover .link-list__link__label,
// .link-list__link:focus .link-list__link__label {
//   text-decoration: none;
// }
// .link-list__link:hover:before,
// .link-list__link:focus:before {
//   border-width: .25em;
// }
// .link-list__link:hover:after,
 
// .link-list__link:focus:after {
 
//   width: 100%;
   
// }
.link-list__link__meta {
  color: #444;
  font-size: .75em;
  padding-top: .5em;
}
.link-list__link__label,
.link-list__link__meta {
  display: block;
  position: relative;
  z-index: 2;
  padding-right: 25px;
  max-height: 100px;
  overflow: hidden;
 
 
}
 
//  /* necessary plugin styles */
// .ellip {
//   display: block;
//   height: 100%;
// }

// .ellip-line {
//   display: inline-block;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   word-wrap: normal;
// }

// .ellip,
// .ellip-line {
//   position: relative;
//   overflow: hidden;
//   max-width: 100%;
// }
 

@function rem-calc($size) {
  @return $size / 16px * 1rem;
}
$nav-text-color: #000;
$header__logo-size: 26px;
* {
  padding: 0;
  margin: 0;
}
button {
  border: none;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 0.8rem 0.8rem 0.8rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 3;
  &__logo {
    width: rem-calc($header__logo-size);
    height: rem-calc($header__logo-size);
    margin-top: .7rem;
    background-color: #5E81FE;
    border-radius: 50%; z-index: 999999;
    -moz-transition: background 2s;
  -webkit-transition: background 2s;
  -o-transition: background 2s;
  -ms-transition: background 2s;
  transition: background 2s;
  }
  &__nav {
    margin-top: rem-calc(22px-18px);
    &--mobile {
      margin-top: rem-calc(10px);
    }
  }
  &__nav-list {
    display: flex;
    list-style: none;
  }
  &__nav-link {
    font-size: rem-calc(16px);
    margin: 0 1.25rem 0;
    display: inline-block;
    color: $nav-text-color;
  
 
  }
 
}

// TODO create break-points
.header__nav--main,
.header__nav--social {
  display: none;
  
}
.header__button {
  display: none; 
}
.active {color: #3A79FF;}
.huhu {
  display: block;
  background: #fff;
  position: absolute;
 
  /* margin-top: 0; */
  padding-top: 100px;
  min-height: 100vh;
  /* position: fixed; */
  
}

// --- Hamburger - Menu Toggle --- //
#hamburger span,
#cross span {
  z-index: 999999;
  display: block;
  background: $c-primary;
  border-radius: 0;
  transition: 0.2s;  
  &:hover {
    background: $c-secondary;
  }
}
#menu-toggle { z-index: 9999;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  top: 0;
  background: transparent;
  border-radius: 0;
  #hamburger {
    position: absolute;  
    height: 100%;
    width: 100%;
    span {
      height: 2px;
      position: relative;
      top: 0px;
      left: 0px;
      margin: 8px 0 10px;
      &:nth-child(1) {
        width: 100%;
        transition-delay: 0.625s;
      }
      &:nth-child(2) {
        width: 50%;
        transition-delay: 0.425s;
      }
    }
  }
  #cross {
    z-index: 101;
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(45deg);
    span {
      position: absolute;
      &:nth-child(1) {
        height: 0%;
        width: 2px;
        top: 0;
        left: 14px;
        transition-delay: 0s;
      }
      &:nth-child(2) {
        width: 0%;
        height: 2px;
        left: 0;
        top: 14px;
        transition-delay: 0.15s;
      }
    }
  }
  &.open #hamburger span {
    width: 0%;
    &:nth-child(1) {
      transition-delay: 0s;
    }
    &:nth-child(2) {
      transition-delay: 0.125s;
    }
  }
  &.open #cross span {
    &:nth-child(1) {
      height: 100%;
      transition-delay: 0.625s;
    }
    &:nth-child(2) {
      width: 100%;
      transition-delay: 0.375s;
    }
  }
} 
.timeago {
  text-decoration: none;
  margin-right: 5px;
}
.ias-trigger,
.ias-noneleft,
.ias-spinner,
.load-more.center {
  // position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
 
 
  padding : 20px;
 
}
.ias-spinner {
   display: flex;
  align-items: center;
  justify-content: center;
}
.ias-noneleft {
  color: $c-primary;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;

}





.jsless-switchery input {
  display: none;
}
.jsless-switchery label {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  position: relative;
  vertical-align: middle;
  width: 40px;
  user-select: none;
  box-sizing: content-box;
  background-clip: content-box;
  border-color: #dfdfdf;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  transition: border .4s,box-shadow .4s;
  background-color: #fff;
}
.jsless-switchery label:after {
  content: "";
 
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,.4);
  height: 20px;
  position: absolute;
  top: 0;
  width: 20px;
  left: 0;
  transition: background-color .4s,left .2s;
}
.jsless-switchery input:checked ~ label {
  border-color: #5f675f;
  box-shadow: #5f675f 0px 0px 0px 16px inset;
  transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
  background-color: #5f675f;
}
.jsless-switchery input:checked ~ label:after {
  left: 20px;
  transition: background-color 0.4s, left 0.2s;
  background-color: #ffffff;
}
.jsless-switchery {
  // width: 100px;
  // margin: 40px auto;
display: flex;
position:fixed;
   right:30px;
   bottom:30px; 
   z-index: 9999;
 
}
 
@media only screen and (min-width: rem-calc(768px)) {
 
  .header__nav--main,
  .header__button {
    display: block;
  }
  div.header__nav--mobile,
  #hamburger {
    display: none;
  }

}
@media (min-width: 10em) and (max-width: 50em) { 
   .jsless-switchery {display: none;      width: 46%;
    margin: 0 auto; bottom:30px; }
//  .header__logo {position: inherit;}
  a.header__nav-link {  font-size: 1.5rem; text-transform: uppercase;}
ul.header__nav-list { display: block; text-align: center; line-height: 2.5; margin-top: 4rem  }
.huhu { /* display: flex; */
  /* display: flex; */
  background: #fff;
  /* position: absolute; */
  left: 0;
  right: 0;
  /* width: 100%; */
  /* margin-top: 2px; */
  padding-top: 100px;
  min-height: 100vh;
  /* width: 57vh; */
  /* z-index: -9999; */
  position: fixed;
  /* margin: 0 auto; */}
}
    

.icon {     float: left;
  margin-right: 10px;
   
} 
.bull {color: rgb(180, 177, 177) ;    margin: 0 5px 0 5px;}

div#link_meta {
  display: flex;
  align-items: center;
  font-size: 14px;
  position: fixed;
  position: absolute;
  bottom: 10px;
  
  right: 0;
  left: 10px;
}
#search-button {
  width: 100px;
  height: 50px;
}
    
#search-button svg {
  width: 25px;
  height: 25px;
}
 

nav.header__nav {
 padding-top: 0.7rem; 
 } 


 .hidden {
  display: none;
}

svg {
  width: 20px;
  height: 20px;
 
}

// button, .button {
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   height: auto;
//   padding-top: 8px;
//   padding-bottom: 8px;
//   color: #777;
//   text-align: center;
//   font-size: 14px;
//   font-weight: 500;
//   line-height: 1.1;
//   letter-spacing: 2px;
//   text-transform: capitalize;
//   text-decoration: none;
//   white-space: nowrap;
//   border-radius: 4px;
//   border: 1px solid #ddd;
//   cursor: pointer;
// }

// button:hover, .button:hover {
//   border-color: #cdd;
// }

// .share-button, .copy-link {
//   padding-left: 30px;
//   padding-right: 30px;
// }

// .share-button, .share-dialog {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// .share-dialog {
//   display: none;
//   width: 95%;
//   max-width: 500px;
//   box-shadow: 0 8px 16px rgba(0,0,0,.15);
//   z-index: -1;
//   border: 1px solid #ddd;
//   padding: 20px;
//   border-radius: 4px;
//   background-color: #fff;
// }

// .share-dialog.is-open {
//   display: block;
//   z-index: 9999;
// }

header {
  display: flex;
  justify-content: space-between;
 
}

.targets {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 20px;
}

.close-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.close-button svg {
  margin-right: 0;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  background-color: #eee;
}

// .pen-url {
//   margin-right: 15px;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }


.link-title {
 
  margin-bottom: .4rem;
  display: -webkit-box;
  //  height: 109.2px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.425;
z-index: 999;
  
}
button { background: none; border: none;}
button.share-icon { margin-right: 10px; display: none;
  /* float: right; */
  /* right: 0; */
  /* display: flex; */
  /* align-items: stretch; */
  position: absolute;
  right: 0;
  /* float: right; */
  width: 40px;
  height: 40px;
  /* background: transparent; */
}
 svg { fill: #ffffff;}

 .cc-box {
  display: flex;
  align-items: center;
  justify-content: center;
}