 

$color-bg: 				#40424c;
$color-primary: 		#FFF;
$color-secondary: 	#999;
$color-tertiary: 		#000;

 

.container-audio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 100%;
}

p.track {
	text-transform: uppercase;
	color: $color-primary;
	span {
		color: $color-secondary;
	}
}

button.audio-btn { 
	// background-color: #282828;
	// border: 1px solid $color-primary;
	// border-radius: 50%;
	color: $color-primary; cursor: pointer;
	text-align: center; display: flex; align-items: center;
	display: inline-block;
	vertical-align: middle;
	transition: all 0.2s ease 0;z-index: 9999999;
	&[data-am-button^="large"] {
		width: 60px;display: none;
		height: 60px;
		// margin: 0 5px;
		i {
			font-size: 25px;
		}
	}
	&[data-am-button^="small"] {
		width: 40px;
		height: 40px;
		i {
			font-size: 14px;
		}
	}
	&:hover {
		color: $color-secondary;
		border-color: $color-secondary;
	}
	&:focus {
		outline: none;
	}
}

#progress-bar { 
 
    width: 100%;
    background-color: $color-tertiary;
    height: 100%;
    position: relative;
    /* margin: 1em 0; */
    position: absolute;
    top: 0;
	opacity: 0.1; 
	z-index: -1;
	#progress {
		background-color: $color-secondary;
		height: 100%;
		position: absolute;
		left: 0; 
		transition: width 2.5s linear 0;
	}
}

 

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/* Pcast Player */
.pcast-player {
  display: none;
  .pcast-player-controls {
    box-sizing: border-box;
    background: #191919;
    color: #fff;
    font-size: 14px;
    height: 65px;
    overflow: hidden;
    padding: 18px;
  }  
  
  button {
    background: #2a2a2a;
    color: #fff;
    border: 0;
    border-radius: 50%;
    padding: 5px;
    line-height: 22px;
    -webkit-appreance: none;
    min-width: 32px;
    
    span {
      @extend .visually-hidden;
    }
  }
  
  progress {
    height: 13px;
    width: calc(100% - 281px);
  -webkit-appearance: none;
     -moz-appearance: none; border:0;
		  appearance: none; 	  border-radius: 20px;
	
  }

  progress[value]::-webkit-progress-bar {
    background-color: #555;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; 
  }
  
  progress[value]::-webkit-progress-value  { 
    background: #fff; 
  }
  
  .pcast-time {
    display: inline-block;
    font-size: 13px;
    padding: 0 5px;
    text-align: center;
    width: 5em;
  }
  
  .pcast-speed {
    width: 2.5em;
  }
  
  .pcast-download {
    font-size: 12px;
    margin-top: 0.5em;
    display: inline-block;
    color: #191919;
    &:hover,
    &:focus {
      color: #666;
    }
  }
}

 