/* Dark Mode styles */
body.dark-mode {
    background: #282828;
  }
  
  .dark-mode .header,
  .dark-mode .huhu {
    background: $dbg;
    z-index: 9999;
  }
  
  .dark-mode .links a, .darkmode .bookrmak a {
    color: #fff
  }
   .darkmode   a.link-title  {
    color: #fff
  }
 
  .dark-mode .link-list__link {
    background: rgba(46, 45, 45, .8);
   }
  
  .dark-mode .timeago {
    color: $c-primary
  }
  
  .dark-mode .header__nav-link {
    color: #fff;
    z-index: 9999;
    &:hover { background: rgba(0,0,0,.1);}
  }
  
  .dark-mode .active {
    color: #fff
  }
  
  .dark-mode .share-box {
    background: rgba(46, 45, 45, .8);
    /* margin-bottom: 10px; */
    border: 1px solid #282828;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    height: 120px;
  }
  
  .dark-mode label {
    color: white;
  }
  