/* Dark Mode styles */
body.dark-mode {
    background: #282828;
  }
  
  .dark-mode .header,
  .dark-mode .huhu {
    background: $dbg;
    z-index: 9999;
  }
  
  .dark-mode .links a, .darkmode .bookrmak a  {
    color: $white
  }
   .darkmode   a.link-title  {
    color: $white
  }
 
  .dark-mode .link-list__link {
    background: rgba(46, 45, 45, .8);
   }
  
  .dark-mode .timeago {
    color: $c-primary
  }
  
  .dark-mode .header__nav-link {
    color: $white;
    z-index: 9999;
    &:hover { background: rgba(0,0,0,.1);}
  }
  
  .dark-mode span.js-b-counter.counter ,  .dark-mode i.fa, .dark-mode .no-item   {
    color: $white
  }
  // .dark-mode i.fa  {
  //   color: $white
  // }
  .dark-mode button.added i  { color: #191919; }
  .dark-mode .share-box {
    background: rgba(46, 45, 45, .8);
    /* margin-bottom: 10px; */
    border: 1px solid #282828;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    height: 120px;
  }
  .dark-mode ul.dropdown {background:#191919; ;} 
  .dark-mode label {
    color: $white; 
  }
  