@media (min-width: 10em) and (max-width: 50em) {
    // .jsless-switchery {
    //   display: none;
    //   width: 46%;
    //   margin: 0 auto;
    //   bottom: 30px;
    // }
  
    //  .header__logo {position: inherit;}
    a.header__nav-link {
      // font-size: 1.5rem;
      // text-transform: uppercase;
    }
  
    ul.header__nav-list {
      display: block;
      text-align: center;
      line-height: 2.5;
      margin-top: 4rem
    }
  
    .huhu {
      /* display: flex; */
      /* display: flex; */
      background: #fff;
      /* position: absolute; */
      left: 0;
      right: 0;
      /* width: 100%; */
      /* margin-top: 2px; */
      padding-top: 100px;
      min-height: 100vh;
      /* width: 57vh; */
      /* z-index: -9999; */
      position: fixed;
      /* margin: 0 auto; */
    }
    .link-list__link {padding: .3em; }
  }

  @media only screen and (min-width: rem-calc(768px)) {

    .header__nav--main,
    .header__button {
      display: block;
    }
  
    div.header__nav--mobile,
    #hamburger {
      display: block;
    }

  }
  