ul {
    padding:0;
    list-style: none;  
}
.footer-social-icons {
    width: 100%;
    display:block;
    margin: 0 auto;  
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
 
    display: inline; padding: 20px;   
     
}
.social-icons a {
    color: #fff;
    text-decoration: none; 
 
}
.fa-facebook, .fa-twitter , .fa-linkedin, .fa-whatsapp {
    padding:12px 17px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: rgba(46,45,45,.8);   
     border: 1px solid #282828;
    border-radius: 50%;
}
.fa-facebook:hover {
   color: #3d5b99;
   
}
.fa-twitter {
    padding:12px 14px;
 
}
.fa-twitter:hover {
   color: #00aced;
}
 
 
.fa-linkedin {
    padding:12px 14px;
 
}
.fa-linkedin:hover {
 color: #0073a4;
}
 
.fa-whatsapp {
    padding:12px 14px;
 
}