


.jsless-switchery input {
    display: none;
  }
  
  .jsless-switchery label {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    position: relative;
    vertical-align: middle;
    width: 40px;
    user-select: none;
    box-sizing: content-box;
    background-clip: content-box;
    border-color: #dfdfdf;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    transition: border .4s, box-shadow .4s;
    background-color: #fff;
  }
  
  .jsless-switchery label:after {
    content: "";
  
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    height: 20px;
    position: absolute;
    top: 0;
    width: 20px;
    left: 0;
    transition: background-color .4s, left .2s;
  }
  
  .jsless-switchery input:checked~label {
    border-color: #5f675f;
    box-shadow: #5f675f 0px 0px 0px 16px inset;
    transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
    background-color: #5f675f;
  }
  
  .jsless-switchery input:checked~label:after {
    left: 20px;
    transition: background-color 0.4s, left 0.2s;
    background-color: #ffffff;
  }
  
  .jsless-switchery {
    // width: 100px;
    // margin: 40px auto;
    display: flex;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 9999;
  
  }
  