{{ partial "header" . }}
<!-- {{ partial "topic-filter" . }} -->
<main>
  <div class="links">
    {{ $paginator := .Paginate (where .Pages "Type" "links") }}
    {{ range $paginator.Pages }}
    {{ partial "link" . }}
    {{ end }}
    <div class="load-more center">
      {{ if .Paginator.HasNext }}
      <a class="more" href="{{ .Paginator.Next.URL }}">More posts</a>
      <br>
      {{ end }}
    </div>
  </div><!-- end .links -->
  <div class="jsless-switchery">
    <input type="checkbox" name="switch" id="switch" />
    <label for="switch"></label>
  </div>


  <div class="bookmark" title="Your bookmark links">    
    <div class="dropdown-list-header">
      <span>Your bookmarks</span>
      <span class="  js-b-close-mobile-dropdown" data-icon="x"></span>
    </div>
    <div class="js-b-dropdown dropdown-list"></div>
  </div>
</main><!-- end #content -->
{{ partial "footer" . }}
